* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #6495ed;
	font-family:'Times New Roman', Times, serif;
	size: 100%;
}

header {
	padding: 15px 25px;
	background-color: #6495ed;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	top: 0;
}

section {
	padding: 50px;
}

header h1 {
	font-weight: bold;
	font-size: 38px;
	color: black;
	margin: 0;
}

header a, header h2 {
	text-decoration: none;
	color: black;
}

header nav {
	margin: 10px 0;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none; 
}

header nav ul li a {
	padding: 10px 15px;
	font-weight: lighter;
	font-size: 1.75vw;
} 

.hero-image {
	background: url("./images/hero.jpg") no-repeat center top;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	background-attachment: fixed;
	background-position: center;
	width: 100vw;
	height: 100vh;
}

.hero-text {
	text-align: center;
	color: white;
}

.hero-text h2 {
	font-size: 40px;
}

.hero-text p {
	font-size: 30px;
}